* {
    font-family: 'Quicksand', sans-serif;
}

:root {
    --mdc-theme-primary: #6B0504;
    --mdc-theme-background: #6B0504;
    --mdc-theme-secondary: #A3320B;
}

#search-page-content {
    overflow: hidden;
    width: 100%;
    margin: 15em 50px 15em 0px;
    padding: 2em 50px 2em 50px;
    text-align: center;
}

#search-label {
    font-size: 48px;
    display: inline;
    vertical-align: middle;
    color: black;
}

#search-text-field {
    display: inline;
}